@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

body {
    font-family: "Inter", sans-serif;
    /*background-color: var(--color-background);*/
    font-size: 0.925rem;
    margin: 5ch;
}

.table-full-dark {
    background: #000000;
}